/.attach_pid*
/.classpath
/.project
/.factorypath
/.settings/
/carabassa-core/.classpath
/carabassa-core/.project
/carabassa-core/.factorypath
/carabassa-core/.attach_pid*
/carabassa-core/.settings/
/carabassa-core/target/
/carabassa-core-db/.classpath
/carabassa-core-db/.project
/carabassa-core-db/.factorypath
/carabassa-core-db/.attach_pid*
/carabassa-core-db/.settings/
/carabassa-core-db/target/
/carabassa-restapi/.classpath
/carabassa-restapi/.project
/carabassa-restapi/.factorypath
/carabassa-restapi/.attach_pid*
/carabassa-restapi/.settings/
/carabassa-restapi/target/
/carabassa-uploader/.classpath
/carabassa-uploader/.project
/carabassa-uploader/.factorypath
/carabassa-uploader/.attach_pid*
/carabassa-uploader/.settings/
/carabassa-uploader/target/
